
body{
	background-image:linear-gradient(rgba(4,9,30,0.2),rgba(4,9,30,0.2)),url(images/TestingUni1.jpg);
	background-color: whitesmoke;
	position: static;
	height:  25vh;
	background-size:  cover;s
	background-repeat: no-repeat;
	background-position: center;
}
